body {
    padding-top: 56px; /* Ajuste para la barra de navegación fija */
}

.product {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}

.cart {
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
}

.cart-item {
    margin-bottom: 10px;
}